@use '../base' as *;

.facebook{border-top: solid 0.5rem var(--facebook);}
.twitter{border-top: solid 0.5rem var(--twitter);}
.youtube{border-top: solid 0.5rem var(--youtube);}
.instagram::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background: var(--instagram); 
  border-radius: 1rem 1rem 0 0;
}

.card-followers-container > .card{aspect-ratio: 1.6;}
.card-overview-container > .card{
  aspect-ratio: 2.5;
  @include breakpoint-min-width(xlarge){flex: 1 0 calc(25vw - 6rem);}
}

.card{
  position: relative;
  background-color: var(--card-bg);
  border-radius: 1rem;
  padding: 2rem;
  flex: 1 0 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include breakpoint-min-width(medium){flex: 1 0 30rem;}
  @include breakpoint-min-width(large){flex: 1 0 20rem;}

  &:hover{
    background-color: var(--card-hover);
  }

  & > *{
    width: 100%;
    text-align: center;
  }

  & > data{color: var(--theme-text);}

  .user-name, .followers, .subscribers, .account-container > span{color: var(--gray);}

  .account, .followers-update, .account-container, .data-container{
    display: flex;}
  .account, .followers-update{
    justify-content: center;
    align-items: center;
  }
  .account-container, .data-container{
    justify-content: space-between;
    align-items: baseline;
  }

  .icon{
    transform: scale(1.2);
    margin: 0.7rem;
  }

  .followers-update > span,.followers-update > data{padding-top: 0.2rem;}

  img[alt='icon-up'], img[alt='icon-down']{
    transform: scale(1.5);
    margin: 0.5rem;
  }
}

.card-followers-container > .card .icon-youtube{padding-bottom: 0.2rem;}

.data-container > data{color: var(--theme-text);}
