@use '../base' as *;

header{
  #theme-toggle{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }

  .label-container:hover .toggle-container{
    background: var(--dark-toggle);}

  .toggle-container{
    position: relative;
    background: var(--toggle);
    height: 100%;
    width: 6rem;
    border-radius: 1.6rem;
    display: flex;
    border: none;
  }

  .toggle-btn{
    position: absolute;
    top: 10.5%;
    left: 0.4rem;
    background-color: var(--body-bg);
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.3s;
    transform: translateX(0%);

    @include breakpoint-min-width(medium){
      top: 10%;
      left: 0.6rem;
      width: 36%;
    }
  }
}
